## Build output
bin/
obj/
publish/
TimeTracker_TemporaryKey.pfx

## Visual Studio user-specific files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
packages/
*.nupkg

## JetBrains ReSharper
_ReSharper*/
*.DotSettings.user

## Visual Studio Code
.vscode/

## OS junk
Thumbs.db
Desktop.ini
